@keyframes right_scroll_pc {
  100% {
    left: 120%;
  }
}

@keyframes left_scroll_pc {
  100% {
    left: -20%;
  }
}

@keyframes right_scroll_phone {
  100% {
    left: 150%;
  }
}

@keyframes left_scroll_phone {
  100% {
    left: -50%;
  }
}

@keyframes main_scroll {
  100% {
    width: 300px;
    top: 50%;
  }
}

@keyframes to_front{
  0% {
    transform: translateX(-50%) translateY(-50%) rotateY(180deg);
  }
  50% {
    transform: translateX(-50%) translateY(-50%) rotateY(270deg);
    
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateY(360deg);
    z-index: 20 !important;
  }
}

@keyframes to_back{
  0% {
    transform: translateX(-50%) translateY(-50%) rotateY(0deg);
  }
  50% {
    transform: translateX(-50%) translateY(-50%) rotateY(90deg);
    
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateY(180deg);
    z-index: 15 !important;
  }
}
