@import 'setting.scss';

#main-container{
  .card-area {
    position: relative;
    width: 100%;
    height: 600px;
  }
  .button-area {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    button:disabled{
      cursor: default;
      &:hover{
        opacity: 1.0;
      }
    }
    button:first-child {
      @include btn(50px);
      i {
        color: $blue;
        font-size: 25px;
      }
    }
    button:nth-child(2n) {
      @include btn(40px);
      i {
        color: $second-black;
        font-size: 18px;
      }
    }
    button:last-child {
      @include btn(50px);
      i {
        color: $red;
        font-size: 25px;
      }
    }
  }
}

@media (max-width:767px){
  .button-area{
    width: 100% !important;
  }
}
@media (max-height:600px){
  .card-area{
    height: 400px !important;
  }
}
@media (min-height:601px) and (max-height: 800px){
  .card-area{
    height: 500px !important;
  }
}