@import 'setting.scss';
@import 'animation.scss';

.card-container {
  height: 350px;
  margin: 0 auto;
  border-radius: 10px;
  border: $border_style;
  background-color: $white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  backface-visibility: hidden;
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      z-index: calc(10 - #{$i});
    }
  }
}

.show-front-card {
  z-index: 20 !important;
  @include animation(to_front);
}
.show-back-card {
  @include animation(to_back);
}

#front-card{
  flex-direction: column;
  .img-item {
    width: 264px;
    margin: 0 auto;
  }
  .text-item {
    height: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    margin-left: 50px;
    p{
      color: $first-black;
      &:first-child{
        font-size: 21px;
        padding-bottom: 3px;
      }
    }
  }
}

#back-card {
  @include back-image;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 40px;
    text-align: center;
    color: $white;
    margin: 20px 0;
  }
  div {
    padding: 10px 0;
    font-size: 18px;
    color: $white;
    text-align: center;
    i {
      margin-right: 5px;
    }
  }
}

@media (min-width: 768px){
  .left-scroll {
    @include animation(left_scroll_pc);
  }

  .right-scroll {
    @include animation(right_scroll_pc);
  }
}

@media (max-width: 767px){
  .left-scroll{
    @include animation(left_scroll_phone);
  }

  .right-scroll{
    @include animation(right_scroll_phone);
  }
}