@import 'setting.scss';
@import 'animation.scss';

.card-container {
  // width: 300px;
  height: 350px;
  margin: 0 auto;
  border-radius: 10px;
  border: $border_style;
  background-color: $white;
  position: absolute;
  // top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  .img-item {
    width: 264px;
    margin: 0 auto;
  }
  .text-item {
    height: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    margin-left: 50px;
    p{
      color: $first-black;
      &:first-child{
        font-size: 21px;
        padding-bottom: 3px;
      }
    }
    
  }
}

.center-wait {
  width: calc(300px - 1%) !important;
  top: 51% !important;
  @include animation(main_scroll, 0.1s);
}

.right-scroll {
  @include animation(right_scroll);
}

.left-scroll {
  @include animation(left_scroll);
}